<div class="row">
    <div class="col-sm-6">
        <small>Sprzedawca:</small>
        <b>{{seller?.name}}</b>
    </div>
    <div class="col-sm-6">
        <small>Nabywca:</small>
        <b>{{seller?.name}}</b>
    </div>
</div>
<!--<ag-grid-ng2 #myGrid class="ag-dark myGrid" [gridOptions]="gridOptions"></ag-grid-ng2>-->
<h1>{{document?.type?.name}} {{document?.number}}</h1>

<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nazwa towaru/usługi</th>
      <th>Ilość</th>
      <th>J.m.</th>
      <th>Cena jedn. +VAT</th>
      <th>Wartość +VAT</th>
      <th>Stawka VAT</th>
    </tr>
  </thead>
  <tbody>

  <tr *ngFor="let documentProduct of document?.products">
      <th scope="row">{{documentProduct.id}}</th>
        <td>{{documentProduct.product?.name}}</td>
        <td>{{documentProduct.quantity}}</td>
        <td>{{documentProduct.unit?.name}}</td>
        <td>{{documentProduct.unitPriceWithTax}}</td>
        <td>{{documentProduct.quantity * documentProduct.unitPriceWithTax}}</td>
        <td>{{documentProduct.tax}}</td>
  </tr>

  </tbody>

  <tr>
      <th scope="row">{{document?.products.length + 1}}</th>
        <td>
          <input id="name" required placeholder="nazwa" type="text" class="form-control" (ngModelChange)="onProductNameChanged($event)" [(ngModel)]="documentProduct.product" [ngbTypeahead]="searchProduct" [resultTemplate]="searchProductResultTemplate" [inputFormatter]="formatter" />
        </td>
        <td>
          <input id="quantity" required placeholder="ilość" type="text" class="form-control" [(ngModel)]="documentProduct.quantity" />
        </td>
        <td>
          <select id="unit" required placeholder="jednostka" class="form-control" [(ngModel)]="documentProduct.unit">
            <option value="null">--- select an unit ---</option>
            <option *ngFor="let item of units" [value]="item.id" [ngValue]="item">{{item.name}}</option>
        </select>
        </td>
        <td>
          <input id="unitPriceWithTax" required placeholder="cena+VAT" type="text" class="form-control" [(ngModel)]="documentProduct.unitPriceWithTax" />
        </td>
        <td>
          {{documentProduct.quantity * documentProduct.unitPriceWithTax}}
        </td>
        <td>
          <input id="tax" required placeholder="nazwa" type="VAT" class="form-control" [(ngModel)]="documentProduct.tax" />
        </td>
  </tr>   
  <tr>
    <th>
      </th>
    <td>
    <button class="btn btn-large" (click)="saveInvoice()">Zapisz</button>
    </td>
    <td>
    <button class="btn btn-default" (click)="addProduct()">Dodaj</button>
    </td>
  </tr>

  <template #searchProductResultTemplate let-r="result" let-t="term">
    <label class="btn btn-primary">{{ r.name }}[{{ r.id }}]</label>
  </template>
</table>